@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'whitney-book', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-size: 15px;
}

.container {
    max-width: 1180px !important;
    margin: 0 auto;
    margin-bottom: 50px;
}
header .container{margin-bottom: 0px !important;}
.main-navbar li{display: inline-block !important} 
header .main-header a:hover {color:#FFC425 ;}
.main-navbar{ width: 100%; padding:10px 0px;}
.main-navbar .logo-box{vertical-align: middle;}
.main-navbar .nav-box{ margin-left: -5px; text-align: end;}
.main-navbar .cart-box{
    width: 11%;
    display: inline-block;
    margin-left: -5px;
}
.main-navbar .cart-box .inner-box{
    display: flex;
    justify-content: space-between;
}
.main-navbar .nav-box ul li:not(:last-child){margin-right: 20px;}
.main-navbar .nav-box ul li select{border: none;}
.main-navbar .nav-box ul li a{font-weight: 400;font-size: 18px;line-height: 20px;color: #ffffff;}
.main-navbar .nav-box ul li.active .link{color: #e51937 !important;}
.menu-box{display: none;}
.small .main-navbar{background-color: #11172b; transition: all ease-in-out .5s;}
.small .main-navbar .nav-box ul li a{color:#000000; transition: all ease-in-out .5s;}
.small .main-navbar .cart-box .inner-box a{color: #000000 !important; transition: all ease-in-out .5s;}
.title-box {
    text-align: center;
    margin-bottom: 54px;
}
.sub-menu{
    display: none;
    position: absolute;
    top: 77px;
    left: 0px;
    width: 100%;
    height: 200px;
    background: #11172b;
    text-align: left;
    padding-top: 50px;
}
form{
    display: inline-block;
}
label{
    color: #ffffff;
    display: block;
}
input{
    color: #ffffff !important;
    background-color: #11172b;
    border-bottom: 1px solid #ffffff50;
}
input {
    color-scheme: dark;
}
.book label{
    font-size: 13px;
}
.book input{
    font-size: 30px;
}
.nav-box li.active .sub-menu{
    display: block !important;
}
.title-box h2 {
    font-size: 40px;
    font-weight: 700;
}

.title-box p {
    font-size: 18px;
}

.destination-box {
    display: flex;
    align-items: center;
}

.destination-box img {
    width: 40%;
}

hr {
    border: none;
    border-bottom: 4px solid red !important;
    width: 20%;
    margin: 20px 0px;
}

.destination-box .contant {
    padding: 30px;
    margin-bottom: 20px;
}

.onboard {
    display: flex;
    justify-content: space-between;
}

.onboard img {
    width: 90%;
    height: 60%;
}

.box {
    width: 100%;
}

.onboard .box-cantent {
    margin-right: 40px;
    padding: 20px;

}

.onboard .box-cantent h2 {
    font-size: 15px;
}

.onboard .box-cantent p {
    font-size: 14px;
}

@media (max-width: 1180px) {
    .container {
        width: 96%;
    }
}

@media (max-width: 768px) {
    .destination-box {
        flex-direction: column;
        align-items: center;
    }

    .onboard {
        flex-direction: column;
    }

    .onboard img {
        width: 100%;
    }

    .title-box h2 {
        font-size: 30px;
    }

    .destination-box .contant {
        text-align: center;
    }

    hr {
        margin: 20px auto;
    }

    .onboard .box-cantent {
        margin-right: 0px;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .title-box h2 {
        font-size: 25px;
    }
}
@media screen and (max-width:1919px) {
	.custom-container{padding: 0px 30px;}
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 50px;}
}
@media screen and (max-width:1599px) {
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 40px;}
}
@media screen and (max-width:1365px) {
	.header{position: absolute;top: 0px;left: 0px;width: 100%;background: #ffffff;}
    .main-navbar .container{display: block !important;}
	.menu-open{overflow: hidden;height: 100vh;}
	.menu-box{display: block;}
	.menu-box span{display: block;width: 40px; height:2px;background-color: #000000;margin-bottom: 4px;}
    .menu-open .menu-box span:first-child{transform: rotate(45deg);position: absolute;top: 9px;transition: all ease-in-out .5s;}
    .menu-open .menu-box span:last-child{transform: rotate(135deg);transition: all ease-in-out .5s}
    .menu-open .menu-box span:nth-child(2){opacity: 0;transition: all ease-in-out .5s}
	.menu-box{position: absolute;top: 23px;right: 113px;;}
	.menu-box span{display: block;width: 35px; height: 5px;background-color: #ffffff ;margin-bottom: 4px;}
	.nav-box{display: none !important;}
    .nav-box ul li a{color: #fff !important;}
	.menu-open .nav-box{display: block !important;height: 100vh;}
	.menu-open .nav-box ul{margin-top: 40px !important;}
	.menu-open .nav-box ul li{width: 100%;display: block;margin-bottom: 20px;text-align: left;}
    .cart-box{
        display: none !important;
    }
}
@media (max-width: 650px) {
    .main-navbar{
        position: static;
    }
}
@media screen and (max-width:639px) {
	.main-navbar{padding-top: 15px;}
	.menu-box{top: 18px;right: 36px;}
    .main-navbar .logo-box{width: 33%;}
}