@font-face {
    font-family: 'Whitney';
    src: url('../font/Whitney-Bold.eot');
    src: url('../font/Whitney-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/Whitney-Book.woff2') format('woff2'),
        url('../font/Whitney-Book.woff') format('woff'),
        url('../font/Whitney-Book.ttf') format('truetype'),
        url('../font/Whitney-Book.svg#Whitney-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whitney';
    src: url('../font/Whitney-Light.eot');
    src: url('../font/Whitney-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Whitney-Light.woff2') format('woff2'),
        url('../font/Whitney-Light.woff') format('woff'),
        url('../font/Whitney-Light.ttf') format('truetype'),
        url('../font/Whitney-Light.svg#Whitney-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whitney';
    src: url('../font/Whitney-Bold.eot');
    src: url('../font/Whitney-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Whitney-Bold.woff2') format('woff2'),
        url('../font/Whitney-Bold.woff') format('woff'),
        url('../font/Whitney-Bold.ttf') format('truetype'),
        url('../font/Whitney-Bold.svg#Whitney-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whitney';
    src: url('../font/Whitney-Semibold.eot');
    src: url('../font/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/Whitney-Semibold.woff2') format('woff2'),
        url('../font/Whitney-Semibold.woff') format('woff'),
        url('../font/Whitney-Semibold.ttf') format('truetype'),
        url('../font/Whitney-Semibold.svg#Whitney-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whitney';
    src: url('../font/Whitney-Medium.eot');
    src: url('../font/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Whitney-Medium.woff2') format('woff2'),
        url('../font/Whitney-Medium.woff') format('woff'),
        url('../font/Whitney-Medium.ttf') format('truetype'),
        url('../font/Whitney-Medium.svg#Whitney-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



* {
    font-family: 'Whitney';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
select:focus-visible{
    outline: none;
}
p {
    font-size: 15px;
}

.container {
    max-width: 1180px !important;
    margin: 0 auto;
    margin-bottom: 50px;
}
header .container{margin-bottom: 0px !important;}
.main-navbar li{display: inline-block !important} 
header .main-header a:hover {color:#FFC425 ;}
.main-navbar{ width: 100%; padding:10px 0px;}
.main-navbar .logo-box{vertical-align: middle;}
.main-navbar .nav-box{ margin-left: -5px; text-align: end;}
.main-navbar .cart-box{
    width: 11%;
    display: inline-block;
    margin-left: -5px;
}
.main-navbar .cart-box .inner-box{
    display: flex;
    justify-content: space-between;
}
input:focus-visible{
    border: none !important;
    outline: none !important;
}
.main-navbar .nav-box ul li:not(:last-child){margin-right: 20px;}
/* .main-navbar .nav-box ul li select{border: none;} */
.main-navbar .nav-box ul li a{font-weight: 400;font-size: 18px;line-height: 20px;color: #ffffff;}
.main-navbar .nav-box ul li.active .link{color: #e51937 !important;}
.menu-box{display: none;}
.small .main-navbar{background-color: #11172b; transition: all ease-in-out .5s;}
.small .main-navbar .nav-box ul li a{color:#000000; transition: all ease-in-out .5s;}
.small .main-navbar .cart-box .inner-box a{color: #000000 !important; transition: all ease-in-out .5s;}
.title-box {
    text-align: center;
    margin-bottom: 54px;
}
.sub-menu{
    display: none;
    position: absolute;
    top: 77px;
    left: 0px;
    width: 100%;
    height: 220px;
    background: #11172b;
    text-align: left;
    padding-top: 50px;
    z-index: 1;
}
form{
    display: inline-block;
}
label{
    color: #ffffff;
    display: block;
}
input{
    color: #ffffff !important;
    background-color: #11172b;
    border-bottom: 1px solid #ffffff50;
}
input {
    color-scheme: dark;
}
.book label{
    font-size: 13px;
    margin-bottom: 6px;    
}
.book input{
    font-size: 25px;
}
.deals .inner-box{
    justify-content: space-between !important;
}
.nav-box li.active .sub-menu{
    display: block !important;
}
.title-box h2 {
    font-size: 40px;
    font-weight: 700;
}

.title-box p {
    font-size: 18px;
}
.banner-section{
    background-image: url('../image/banner-img.webp');
    height: 720px;
    background-size: cover;
    background-position-y: -100%;
    background-size: cover;
    position: relative;
}
.banner-section:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00000080;
    top: 0px;
    left: 0px;
}
.destination-box {
    display: flex;
    align-items: center;
}

.destination-box img {
    width: 40%;
}

hr {
    border: none;
    border-bottom: 4px solid red !important;
    width: 20%;
    margin: 20px 0px;
}

.destination-box .contant {
    padding: 30px;
    margin-bottom: 20px;
}

.onboard {
    display: flex;
    justify-content: space-between;
}

.onboard img {
    width: 90%;
    height: 60%;
}

.box {
    width: 100%;
}

.onboard .box-cantent {
    margin-right: 40px;
    padding: 20px;

}

.onboard .box-cantent h2 {
    font-size: 15px;
}

.onboard .box-cantent p {
    font-size: 14px;
}

@media (max-width: 1180px) {
    .container {
        width: 96%;
    }
}

@media (max-width: 768px) {
    .destination-box {
        flex-direction: column;
        align-items: center;
    }

    .onboard {
        flex-direction: column;
    }

    .onboard img {
        width: 100%;
    }

    .title-box h2 {
        font-size: 30px;
    }

    .destination-box .contant {
        text-align: center;
    }

    hr {
        margin: 20px auto;
    }

    .onboard .box-cantent {
        margin-right: 0px;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .title-box h2 {
        font-size: 25px;
    }
}
@media screen and (max-width:1919px) {
	.custom-container{padding: 0px 30px;}
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 50px;}
}
@media screen and (max-width:1599px) {
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 40px;}
}
@media screen and (max-width:1365px) {
	.header{position: absolute;top: 0px;left: 0px;width: 100%;background: #ffffff;}
    .main-navbar .container{display: block !important;}
    .main-navbar{
        overflow: scroll;
    }
	.menu-open{overflow: hidden;height: 100vh;}
	.menu-box{display: block;}
	.menu-box span{display: block;width: 40px; height:2px;background-color: #000000;margin-bottom: 4px;}
    .menu-open .menu-box span:first-child{transform: rotate(45deg);position: absolute;top: 9px;transition: all ease-in-out .5s;}
    .menu-open .menu-box span:last-child{transform: rotate(135deg);transition: all ease-in-out .5s}
    .menu-open .menu-box span:nth-child(2){opacity: 0;transition: all ease-in-out .5s}
	.menu-box{position: absolute;top: 23px;right: 113px;;}
	.menu-box span{display: block;width: 35px; height: 5px;background-color: #ffffff ;margin-bottom: 4px;}
	.nav-box{display: none !important;}
    .nav-box ul li a{color: #fff !important;}
	.menu-open .nav-box{display: block !important;height: 100vh;}
	.menu-open .nav-box ul{margin-top: 40px !important;}
	.menu-open .nav-box ul li{width: 100%;display: block;margin-bottom: 20px;text-align: left;}
    .nav-box li.active .sub-menu{position: static; margin-bottom: 100px;}
    .cart-box{
        display: none !important;
    }
    .banner-section .inner-box{
        top: 15%; 
        left: 30px;   
    }
    .banner-section{
        height: 600px;        
    }
}
@media (max-width: 1245px) {
    .nav-box li.active .sub-menu .inner-box{
        flex-wrap: wrap !important;
    }
    .nav-box li.active .sub-menu .inner-box .btn a{
        display: inline-block;
    }
    .nav-box li.active .sub-menu .inner-box .box-b,.nav-box li.active .sub-menu .inner-box .box-c,.nav-box li.active .sub-menu .inner-box .box-d{
        width: 40% !important;
    }
    .nav-box li.active .sub-menu .inner-box .box-b form,.nav-box li.active .sub-menu .inner-box .box-c form,.nav-box li.active .sub-menu .inner-box .box-d form{
        width: auto !important;
    }
    .sub-menu{
        padding-top: 0px;
        height: max-content;
    }
    
}
@media (max-width: 1024px){
    .redio{
        display: block !important;        
    }
    .redio .left{
        width: 100% !important;
    }
    .banner-section{
        background-position-x: -270px;
    }
    .banner-section .inner-box{
        width: 57% !important;
    }
    .hotel-form{
        display: block !important;
    }
    .sub-menu .container form input{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .main-footer{
        flex-wrap: wrap;
        text-align: center;        
    }
    .main-footer .title{
        margin: 10px 0px;
    }
    .nav-box{
        padding-left: 0px;
    }
    .main-footer .box{
        width: 50% !important;
    }    
    .banner-section .inner-box {
        width: 90% !important;
        top: 5%;
    }
    .deals .inner-box{
        display: block;
        padding-bottom: 20px;
    }
    .deals .inner-box .main-box{
        display: block;
        margin: 0px auto;
        padding: 20px 0px;
    }
    .deals .inner-box .main-box .deal-box{
        width: 100%;
        margin-bottom: 20px;
    }
    .update-box{
        padding: 0px !important;
        text-align: center;
        
    }
    .sub-menu .inner-box{
        display: block;
    }
    .sub-menu .box {
        margin: 10px;
    }
    .box.c .date{
        display: block;
    }
    .hotel-form{
        margin-top: 20px !important;
    }
    .box.a input{
        width: 100%;
        text-align: center;
    }
    .box.b select{
        margin-left: 0px;
    }
    .search-part{
        padding-bottom: 20px;
    }
    .search-box h2{
        font-size: 20px;
    }
    .topic-section{
        display: block;
        text-align: center;
    }
    .topic-section a{
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }
    .menu-box{
        right: 40px;
    }
}
@media (max-width: 500px) {
    .main-footer .box{
        width: 100% !important;
    }
    .topic-section{
        flex-wrap: wrap;
    }
}
@media (max-width: 650px) {
    .main-navbar{
        position: static;
    }
}
@media screen and (max-width:639px) {
	.main-navbar{padding-top: 15px;}
	.menu-box{top: 18px;right: 36px;}
    .main-navbar .logo-box{width: 33%;}
}
@media screen and (max-width:400px){
    .banner-section {
        height: 460px;
    }
    .cotant{
        padding-left: 10px;
    }
    .cotant h1{
        font-size: 40px !important;
    }
    .sub-menu .box{
        width: 100%;
    }
    .sub-menu .box input, 
    .sub-menu .box select,
    .sub-menu .box form
    {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    } 
    .sub-menu .btn{
        text-align: center;
    } 
    .redio .left{
        display: block;
        text-align: center;
    }
    .redio .left p,.redio .left .from{
        margin: 10px 0px;
    }
    .redio .right{
        text-align: center;
    } 
}